nav{
    background-color: #333;
    height: 50px; 
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

nav a:hover{
    background-color: #575757;
 
}

.codigo_background {
    background-color: #350909a4;
    padding: 10px;
    border: 1px solid #ddd;
    overflow-x: auto;
}

.codigo_cor_letra {
            color: white;
               }

               .titulo-site {
                text-align: center;
               }